{
  "extends": "auth0-base",
  "env": {
    "mocha": true
  },
  "plugins": [
    "mocha"
  ],
  "rules": {
    // Allow using devDependencies
    "import/no-extraneous-dependencies": "off",

    // Error for non-exlusive-tests
    "mocha/no-exclusive-tests": "error",

    // Chai use lots of unused expressions as part
    // of its assertions
    "no-unused-expressions": "off",

    // Anonymous functions are the easiest way of writting test cb
    // and in this case the stack is pretty clear
    "func-names": "off",

    // Mocha team recomends not to use arrow blocks
    // in test to keep `this` meaning
    "prefer-arrow-callback": "off",

    // Some of the versions of node we need to support
    // does not support spread operator
    "prefer-spread": "off",

    // Tests should run on node 4+
    "strict": "off"
  }
}
